---
import BaseLayout from '../layouts/BaseLayout.astro';

const { frontmatter } = Astro.props;
const pageTitle = "About";
--- 
<BaseLayout pageTitle={pageTitle}>
  <div class="title">
  <h1>&#128075; I'm Stacy!</h1>
</div>

<div class="main-content">

  <p>I’m a seasoned product designer with experience working on SaaS products and developer tools at companies like <a href="https://www.honeycomb.io/">Honeycomb</a>, <a href="https://www.auth0.com">Auth0</a>, and <a href="https://www.intel.com/content/www/us/en/developer/overview.html#gs.x978kt">Intel</a>.</p>

  <p>As a former librarian, I have a strong background in information architecture and user research and I’m always thinking about how to get users the right information at the right time. I’m a systems thinker and I love digging into a good content audit or user journey to connect the individual pieces of a product to a holistic end-to-end experience.</p>

    <p>I’ve also led several initiatives in the areas of inclusive design and accessibility. In my time at Auth0, I spearheaded a company-wide effort to remove biased language from our code base and communications, and created training materials to promote inclusive design.</p> 
    <p>I also hold a Certified Professional in Accessibility Core Competencies certification from the International Association of Accessibility Professionals and worked on a task force to improve accessibility across the Auth0 product.
    </p>

      <p>My dedication to design extends beyond my day job.  I volunteer as a mentor with <a href="https://outintech.com/">Out In Tech</a>, an organization dedicated to promoting LGBTQIA+ diversity and inclusion in the tech industry. In addition, I served on the board of <a href="https://chifoo.org/">CHIFOO</a>, the Computer-Human Interaction Forum of Oregon for four years. As a board member, I worked to promote understanding and awareness of the complex relationship between humans and technology, and to help shape the future of the tech industry in the Portland area.</p>

        <p>
          Outside of work I enjoy powerlifting &#128170; bouldering &#129495 and hiking &#129406 with my faithful caninie companion &#128021 Rufus. I'm also an avid reader &#128214 and it's not uncommon for me to be reading 2-3 books at a time.
        </p>

        <p>Want to work together? Drop me a line at <a href="mailto:stacy.taylor@gmail.com">stacy.taylor@gmail.com</a> or check out my <a href="/StacyTaylorResume.pdf">resume.</a></p>
        

</div>
</BaseLayout>