---
import BaseLayout from '../layouts/BaseLayout.astro';

const { frontmatter } = Astro.props;
--- 
<BaseLayout>
  <div class="title">
  <h1>About me</h1>
</div>

<div class="main-content">

  <p>I’m a product designer specialized in designing developer tools, currently working at honeycomb.io. My primary focus is on crafting the developer experience, particulary the learning and onboarding flows.</p>

  <p>When it comes to design I love dealing with the messy stuff like overhauling a site’s information architecture, digging deep into a content audit, and improving consistency across a large scale project. I like to take complex problems and make them as simple as possible, but not simpler.</p>

    <p>I also feel strongly about giving back to the field of design. I served on the board of the Computer Human Interaction Forum of Oregon (CHIFOO) for four years helping to organize a monthly speaker series and contributing to the advancement of the local design community in Portland, Oregon. And I have been volunteering as a mentor to LGBTQIA+ youth with Out In Tech for the past 3 years.</p>

      <p>When I'm not geeking out over design I can generally be found reading four books at a time or exploring the Pacific Northwest with my loyal canine sidekick, Rufus.</p>

        <p>To find out more about what makes me tick, check out my social media or drop me a line below.</p>

</div>
</BaseLayout>