---
import BaseLayout from '../layouts/BaseLayout.astro';

const { frontmatter } = Astro.props;
--- 
<BaseLayout>
  <div class="title">
  <h1>Hey! I'm Stacy!</h1>
</div>

<div class="main-content">

  <p>I’m a seasoned product designer on a mission to make developers' lives easier. With a background spanning Auth0, Intel, and my current role at Honeycomb.io, I’ve been working on developer experiences for most of my design career.
  </p>

    <p>I’ve also led several initiatives in the areas of inclusive design and accessibility. In my time at Auth0, I spearheaded a company-wide effort to remove biased language from our code base and communications, and created training materials to promote inclusive design. I also hold a Certified Professional in Accessibility Core Competencies certification from the International Association of Accessibility Professionals and worked on a task force to improve accessibility across the Auth0 product.
    </p>

      <p>My dedication to design extends beyond my day job.  I volunteer as a mentor with Out in Tech, an organization dedicated to promoting LGBTQIA+ diversity and inclusion in the tech industry. In addition, I served on the board of CHIFOO, the Computer-Human Interaction Forum of Oregon for four years. As a board member, I worked to promote understanding and awareness of the complex relationship between humans and technology, and to help shape the future of the tech industry in the Portland area.</p>

        <p>Outside of work I can usually be found exploring the Pacific Northwest with my faithful pup, Rufus, or curled up on the couch with a good book.</p>

        <p>Want to work together? Drop me a line at <a href="mailto:stacy.taylor@gmail.com">stacy.taylor@gmail.com</a> or check out my <a href="/StacyTaylorResume.pdf">resume.</a></p>
        

</div>
</BaseLayout>