---
import BaseLayout from '../layouts/BaseLayout.astro';
import CaseStudy from '../components/CaseStudy.astro';
const allPosts = await Astro.glob('../pages/work/*.md');
const pageTitle = "Home";
---
<BaseLayout>

  <h1>Stacy Taylor</h1>
  <h2>Product Designer with a background in SaaS products and developer tools.</h2>

  <a id="selectedWork"></a>
  <div class="project">
    <div class="project-title">
    <a href ="work/quickstart-redesign"><h3>Auth0 Quickstart Redesign</h3></a>
  </div>

  <div class="project-cover">
    <a href ="work/quickstart-redesign"><img src="/images/QuickstartCover.png" class= "img-cover" alt="Quickstart Redesign"/></a>
    </div>
  
</div>
    
  <div class="project">
  <div class="project-title">
  <a href ="work/docs-ia"><h3>Auth0 Docs Information Architecture</h3></a>
  </div>
  
  <div class="project-cover">
  <a href ="work/docs-ia"><img src="/images/DocsIACover.png" class= "img-cover" alt="Docs IA"/>
    </a>
  </div>
</div>
          
</BaseLayout>