---
import BaseLayout from '../layouts/BaseLayout.astro';
import CaseStudy from '../components/CaseStudy.astro';
const allPosts = await Astro.glob('../pages/work/*.md');
const pageTitle = "Stacy Taylor";
---
<BaseLayout pageTitle={pageTitle}>

  <h2>I'm a Product Designer with experience designing SaaS products for highly technical audiences.</h2>

  <a id="selectedWork"></a>         

<div class="case-study-container">

  <a href ="work/docs-landing-pages">
    <div class="case-study-card">
    <div class="case-study-image" id="diagram-cover-image">
      <img src="/images/landingPageCover.png" class= "img-cover" alt="landing page diagram"/>
    </div>
  
    <div class="case-study-title">
      <h3>Auth0 Docs Landing Pages</h3>
    </div>
  </div>
  </a>

  <a href ="work/qs-redesign">
    <div class="case-study-card">
     <div class="case-study-image" id="qs-cover-image">
       <img src="/images/QuickstartCover.png" class= "img-cover" alt="Quickstart Redesign"/>
      </div> 
    <div class="case-study-title">
     <h3>Auth0 Interactive Quickstarts</h3>
    </div>
  </div>
  </a>

  <a href ="work/docs-info">
  <div class="case-study-card">
    <div class="case-study-image" id="ia-cover-image">
      <img src="/images/DocsIACover.png" class= "img-cover" alt="Docs IA"/>
    </div>

    <div class="case-study-title">
      <h3>Auth0 Docs Information Architecture</h3>
    </div>
  </div>
</a>





</div>


</BaseLayout>