---
import BaseLayout from '../layouts/BaseLayout.astro';
import CaseStudy from '../components/CaseStudy.astro';


const allPosts = await Astro.glob('../pages/work/*.md');

const pageTitle = "Work";
---

<BaseLayout pageTitle={pageTitle}>
        <a href ="work/docs-ia"><h3>Auth0 Docs Information Architecture</h3><img src="/images/docsia/DocsIACover.png" class="img-large" alt="Docs IA"/>
        </a>
        
        <a href ="work/quickstart-redesign"><h3>Auth0 Quickstart Redesign</h3><img src="/images/quickstarts/QSRedesignCover.png" class="img-large" alt="Docs IA"/>
                </a>

        </BaseLayout>