---
---
<div class="foot">
  <div class="footer-email">
    <a href="mailto:stacy.taylor@gmail.com">stacy.taylor@gmail.com</a>
</div>
<div class="footer-social">
    <a href="https://www.linkedin.com/in/stacyltaylor/">LinkedIn</a>
    <a href="https://medium.com/@stacy.taylor">Medium</a>
  </div>
</div>