---
---
<div class="nav">
  <div class="nav-home">
  <a href="/">Stacy Taylor</a>
</div>
<div class="nav-links">
  <a href="#selectedWork">Work</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </div>
</div>