---
import BaseLayout from './BaseLayout.astro';
import localImage from "../images/DocsIACover.png";

const { frontmatter } = Astro.props;
--- 
<BaseLayout>
  <div class="title">
  <h1>{frontmatter.title}</h1>
</div>
<div class="description">
  <p>{frontmatter.description}</p>
</div>

<img src={localImage}>
<img src={frontmatter.image}>

<div class="main-content">
  <slot />
</div>
</BaseLayout>